.meta-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #808080;
  border-top: 1px solid #808080;
  color: black;
}

.meta-place__title {
  width: 10%;
  height: 100px;
  font-size: 20px;
  background-color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meta-place__img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-left: 150px;
}

img {
  width: 200px;
  height: 90px;
}

.meta-wrap_name {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #808080;
  color: black;
}

.meta-place__name {
  width: 10%;
  height: 60px;
  font-size: 20px;
  background-color: #808080;
  display: flex;
  justify-content: center;
  border-top: 1px solid white;
}

.meta-place__name span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-name input {
  border: none;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  color: black;
  width: 1000px;
  height: 40px;
}

.meta-project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}