.projectExplanation {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  float: right;
  border-bottom: 1px solid #808080;
}

.project-information {
  width: 10%;
  height: 50px;
  font-size: 20px;
  background-color: #808080;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid white;
}

.project-information span {
  margin-left: 20px;
}

.project-information__input input {
  border: none;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  color: black;
  width: 1000px;
  height: 40px;
}
