.btn-box {
}

.create-btn {
  margin: 0 35px 0 650px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #FFD700;
  border: none;
  border-radius: 10px;
}

.cancel-btn {
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #808080;
  border: none;
  border-radius: 10px;
}
