.category-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  float: left;
  width: 12%;
  height: 1100px;
  background-color: #2d2d2d;
}

.categorys {
  margin: 20px 0 60px 20px;
  color: white;
}

.category-btn {
  font-size: 22px;
  color: white;
  margin: 0 0 30px 20px;
  cursor: pointer;
  border: 0;
  background-color: #2d2d2d;
}
